{{#each flamingo as |flamingo|}}
  <section data-id="{{flamingo._id}}" class="flamingo-log" >
    <div class="card-deck">
        <div class="card" style="width:600px">
          <img class="card-img-top" src="https://www.i-love-wallpaper.com/images/flamingo-wallpaper-navy-blue-p6255-18356_medium.jpg" alt="Card image">
          <div class="card-body">
              <h6>Name:</h6>
                <p>
                  {{flamingo.name}}
                </p>
                <h6>Talent:</h6>
                <p>
                    {{flamingo.talent}}
                  </p>
    <!-- <button data-id="{{flamingo._id}}" class="btn btn-danger rsvp-btn"> RSVP </button> -->
    <div class="emoji-toggle emoji-love">
    <input type="checkbox" id="toggle5" class="toggle">
    <div class="emoji"></div>
    <label for="toggle5" class="well"></label>
    </div>
  </div>
</div>
</div>
    </section>

  {{/each}}
